{% extends 'base.html.twig' %}

{% block title %}Preguntas{% endblock %}

{% block body %}

    {{ parent() }}

<div class="container">
    <h1 class="display-3">Registrar Preguntas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Categoria</th>
                <th>Respuesta</th>
                <th>Opción 1</th>
                <th>Opción 2</th>
                <th>Opción 3</th>
                <th>¿Qué desea hacer?</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.Question }}</td>
                <td>{{ question.Categorie }}</td>
                <td>{{ question.Answer }}</td>
                <td>{{ question.Option1 }}</td>
                <td>{{ question.Option2 }}</td>
                <td>{{ question.Option3 }}</td>
                <td>
                    <a href="{{ path('questions_show', {'id': question.id}) }}">Mostrar</a>
                    <a href="{{ path('questions_edit', {'id': question.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no hay datos que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg active" role="button" href="{{ path('questions_new') }}">Crear Pregunta</a>
</div>

{% endblock %}
