{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <h1>Questions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Pregunta</th>
                <td>{{ question.Question }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ question.Categorie }}</td>
            </tr>
            <tr>
                <th>Respuesta</th>
                <td>{{ question.Answer }}</td>
            </tr>
            <tr>
                <th>Opción 1</th>
                <td>{{ question.Option1 }}</td>
            </tr>
            <tr>
                <th>Opción 2</th>
                <td>{{ question.Option2 }}</td>
            </tr>
            <tr>
                <th>Opción 3</th>
                <td>{{ question.Option3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('questions_index') }}">Regresar</a>

    <a href="{{ path('questions_edit', {'id': question.id}) }}">Editar</a>

    {{ include('questions/_delete_form.html.twig') }}
{% endblock %}
